workflows/email-welcome-email-confirmation/2025/12/45aac5e2-755a-4f20-998c-09ed250a16bb.json
{
  "createdAt": "2025-11-25T16:57:21.162Z",
  "updatedAt": "2025-12-06T11:44:57.199Z",
  "id": "DmMSMtMczqqwNuNb",
  "name": "[email] Welcome Email Confirmation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "topic": {
          "__rl": true,
          "value": "arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub",
          "mode": "list",
          "cachedResultName": "dev--acc--account-changed-events--f4ub",
          "cachedResultUrl": "https://us-east-2.console.aws.amazon.com/sns/v3/home?region=us-east-2#/topic/arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub"
        }
      },
      "type": "n8n-nodes-base.awsSnsTrigger",
      "typeVersion": 1,
      "position": [
        736,
        352
      ],
      "id": "34f7f47d-a63e-49fb-8c14-e596fec86a83",
      "name": "AWS SNS Trigger",
      "webhookId": "4c159c27-dba5-4a7e-8133-6f7a63da593a",
      "credentials": {
        "aws": {
          "id": "6a2LeR1JFdLEeTgc",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($json.Message)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        352
      ],
      "id": "d74368a2-b5b4-46bf-a2f3-941f1f35a4cf",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "url": "=http://api.user.iam.sd.internal.us-east-2.bluemsdev.team/v1/users/{{ $json.data.owner }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        352
      ],
      "id": "bdd98a21-1c9c-4efc-acc0-2a7e641d42b1",
      "name": "GET User = givenName + familyName + userLanguage"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.userLanguage }}",
                    "rightValue": "en-US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9df8a9ab-32fe-49da-8d73-17e9803a9aca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "en-US"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0dba1e18-8c57-415b-84b9-526251b3b109",
                    "leftValue": "={{ $json.userLanguage }}",
                    "rightValue": "pt-BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pt-BR"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1632,
        352
      ],
      "id": "db2856bb-1a27-4076-bf16-f525cff75a9a",
      "name": "Condicional for Languague"
    },
    {
      "parameters": {
        "content": "Recebe evento de acc--account-changed e formata mensagem para JSON",
        "height": 400,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        208
      ],
      "typeVersion": 1,
      "id": "8b4e8dee-86f9-47ea-96d9-455f355298a4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 9,
        "receipients": "={{ $('Convert to JSON').item.json.data.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=USERNAME= {{ $json.givenName }} {{ $json.familyName }} "
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1856,
        256
      ],
      "id": "d6d8d230-72ea-401a-b7d9-77f54407a5f2",
      "name": "Send Email - Welcome to BMS (en-US)",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 14,
        "receipients": "={{ $('Convert to JSON').item.json.data.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=USERNAME=  {{ $('GET User = givenName + familyName + userLanguage').item.json.givenName }} {{ $('GET User = givenName + familyName + userLanguage').item.json.familyName }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1856,
        448
      ],
      "id": "c8cce3e4-fe83-4c5f-867b-24d14937bea4",
      "name": "Send Email - Welcome to BMS (pt-BR)",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fe30053-ece5-4384-9bd0-57b25edd0ebf",
              "leftValue": "={{ $json.type }}",
              "rightValue": "com.bluems.acc.account-created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3e2090ab-d6a1-4e74-9729-ae564c391512",
              "leftValue": "={{ $json.data.creationMode }}",
              "rightValue": "enrollment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1184,
        352
      ],
      "id": "1aaff99a-4f00-4982-ace9-f332f4cdc88d",
      "name": "If type event is created en creationMode enrollment"
    },
    {
      "parameters": {
        "content": "Filtra para conter passar apenas eventos de created e com modo de criação igual a Enrollment",
        "height": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        208
      ],
      "typeVersion": 1,
      "id": "266257ba-28f3-4bc4-834f-9c4d90fb89b2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Pegamos o nome e linguagem do usuário",
        "height": 400,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        208
      ],
      "typeVersion": 1,
      "id": "b901e036-0636-470e-828d-9b3e939fc210",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Dado a linguagem enviamos o email de acordo com os parametros personalizados",
        "height": 400,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        208
      ],
      "typeVersion": 1,
      "id": "7851dbd2-2c22-4206-bb8b-b315487ccaff",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "AWS SNS Trigger": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "If type event is created en creationMode enrollment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET User = givenName + familyName + userLanguage": {
      "main": [
        [
          {
            "node": "Condicional for Languague",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condicional for Languague": {
      "main": [
        [
          {
            "node": "Send Email - Welcome to BMS (en-US)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email - Welcome to BMS (pt-BR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If type event is created en creationMode enrollment": {
      "main": [
        [
          {
            "node": "GET User = givenName + familyName + userLanguage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "AWS SNS Trigger": [
      {
        "json": {
          "Type": "Notification",
          "MessageId": "b676cc45-276f-5ce2-9ae6-adc901c5b8a1",
          "TopicArn": "arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub",
          "Message": "{\"specversion\":\"1.0\",\"id\":\"35ITae7AJwwuvaVIXJ9nqEqRrYi\",\"source\":\"com.bluems.acc.account\",\"type\":\"com.bluems.acc.account-created\",\"time\":\"2025-11-10T17:44:10.197Z\",\"combluemsaccountid\":\"194515064449\",\"data\":{\"accountId\":\"194515064449\",\"createdBy\":\"goliveira@bluemarketing.com\",\"name\":\"teste\",\"tags\":[],\"createdAt\":\"2025-11-10T17:44:09.949Z\",\"owner\":\"goliveira@bluemarketing.com\",\"creationMode\":\"member-account\",\"brn\":\"brn:bms:acc:global::account:194515064449\"}}",
          "Timestamp": "2025-11-10T17:44:10.219Z",
          "SignatureVersion": "1",
          "Signature": "CAT8Q4VyLPt4rLGwDxsDmqMDN/pI9ztciRiiMgigPzH8xw/fqGp+m7s2ELlCNzDSuwk0LH1lktdpmGsj74oswSunDRo91d1i5MyzKZP2t8wOv74m7ZXCtuoAqIORV3W5r2lGBdXpm+aSQ7XN8R07y7C6CcRKV7GegXKZ+GBMucR8CRmZmMH5XLmSDa+3v0mvRR/L48THXxKz8v4NWc9I3Xx8NWw8ZK2/GnHhWAjUvqla84a0ARpXjhZPJNcGafgJOKoQ1Abw+GHhLskvA7JOYwTBWrZSRTktwymztRc3Dmuv0VQmbAOPBJiNZhS7vBErSBm2zhgELmq49LjSmCXbHg==",
          "SigningCertURL": "https://sns.us-east-2.amazonaws.com/SimpleNotificationService-6209c161c6221fdf56ec1eb5c821d112.pem",
          "UnsubscribeURL": "https://sns.us-east-2.amazonaws.com/?Action=Unsubscribe&SubscriptionArn=arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub:6e1efdc4-4a0a-462c-acac-ff38faf91e74"
        }
      }
    ],
    "Convert to JSON": [
      {
        "json": {
          "specversion": "1.0",
          "id": "35ITae7AJwwuvaVIXJ9nqEqRrYi",
          "source": "com.bluems.acc.account",
          "type": "com.bluems.acc.account-created",
          "time": "2025-11-10T17:44:10.197Z",
          "combluemsaccountid": "194515064449",
          "data": {
            "accountId": "194515064449",
            "createdBy": "goliveira@bluemarketing.com",
            "name": "teste",
            "tags": [],
            "createdAt": "2025-11-10T17:44:09.949Z",
            "owner": "gakkari@bluemarketing.com",
            "creationMode": "enrollment",
            "brn": "brn:bms:acc:global::account:194515064449"
          }
        }
      }
    ],
    "GET User = givenName + familyName + userLanguage": [
      {
        "json": {
          "email": "gakkari@bluemarketing.com",
          "givenName": "Giovanna",
          "familyName": "Akkari",
          "createdAt": "2025-11-04T19:51:12.583Z",
          "modifiedAt": "2025-11-04T19:51:12.583Z",
          "lastAccess": "2025-11-07T18:48:35.417Z",
          "enabled": true,
          "awsCognitoUserId": "fd14cca9-fdbd-4c61-85f8-f067593ac291",
          "signedTermsVersion": "signup-terms-and-conditions-20240404.pdf",
          "userLanguage": "pt",
          "brn": "brn:bms:iam:global::user:goliveira@bluemarketing.com"
        }
      }
    ]
  },
  "versionId": "45aac5e2-755a-4f20-998c-09ed250a16bb",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-25T16:57:21.162Z",
      "updatedAt": "2025-11-25T16:57:21.162Z",
      "role": "workflow:owner",
      "workflowId": "DmMSMtMczqqwNuNb",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}