workflows/acc-account-account-created-monday/2025/11/83b0b956-f7f7-45d7-a67d-6678ac1523cb.json
{
  "createdAt": "2025-11-24T18:05:24.203Z",
  "updatedAt": "2025-11-25T13:29:21.973Z",
  "id": "PeYY8UfWXjVRr9XJ",
  "name": "[acc--account] Account Created - Monday",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "topic": {
          "__rl": true,
          "value": "arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub",
          "mode": "list",
          "cachedResultName": "dev--acc--account-changed-events--f4ub",
          "cachedResultUrl": "https://us-east-2.console.aws.amazon.com/sns/v3/home?region=us-east-2#/topic/arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub"
        }
      },
      "type": "n8n-nodes-base.awsSnsTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -80
      ],
      "id": "4b222912-103c-4aed-8a38-bc90477c29d6",
      "name": "AWS SNS Trigger",
      "webhookId": "c34d326c-78e5-4b4a-8af1-242be7584a03",
      "credentials": {
        "aws": {
          "id": "6a2LeR1JFdLEeTgc",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($json.Message)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -80
      ],
      "id": "8b391f66-c7c6-4dad-b700-c74c507d95da",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "url": "=http://api.user.iam.sd.internal.us-east-2.bluemsdev.team/v1/users/{{ $json.data.owner }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -80
      ],
      "id": "a2022bd1-5360-4ce5-8dc4-937c02de6453",
      "name": "GET User = givenName + familyName + userLanguage"
    },
    {
      "parameters": {
        "content": "## Cria item no Monday ao criar uma conta na BMS",
        "height": 864,
        "width": 1632,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -432
      ],
      "typeVersion": 1,
      "id": "adb78864-2294-4e11-956c-7cbc3738209a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fe30053-ece5-4384-9bd0-57b25edd0ebf",
              "leftValue": "={{ $json.type }}",
              "rightValue": "com.bluems.acc.account-created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3e2090ab-d6a1-4e74-9729-ae564c391512",
              "leftValue": "={{ $json.data.creationMode }}",
              "rightValue": "enrollment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -160,
        -80
      ],
      "id": "379b5087-689b-496c-8ef7-b87cb64c4ad9",
      "name": "If type event is created en creationMode enrollment"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "name": "={{ $json.event }}",
        "additionalFields": {
          "columnValues": "=gakkari@bluemarketing.com"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        272,
        -80
      ],
      "id": "083c192a-5d39-4c5c-817e-3a20f91e9d2b",
      "name": "Create an Item",
      "credentials": {
        "mondayComApi": {
          "id": "cY46XxBzIt1wYg07",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "content": "Filtra Tipo de Evento",
        "height": 528,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -272
      ],
      "typeVersion": 1,
      "id": "b1d48628-af54-4550-8684-1855cc109780",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Pegamos os dados de conta e usuário para envio do email",
        "height": 528,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        -272
      ],
      "typeVersion": 1,
      "id": "76ec4f1e-9dc9-4fdd-a81a-0cda2b042166",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Recebe evento de acc--account-changed e formata para JSON",
        "height": 528,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        -272
      ],
      "typeVersion": 1,
      "id": "4209702e-ae37-4ca6-ad07-c5d43ce9db47",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Busca dados do usuário",
        "height": 528,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -272
      ],
      "typeVersion": 1,
      "id": "560362cf-4f9b-4bfd-bf3e-adf6cea9c752",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Cria item no Monday no board de Onboarding",
        "height": 528,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -272
      ],
      "typeVersion": 1,
      "id": "5d2fbdb4-fd6a-4d34-a515-97fae38fc4fc",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "AWS SNS Trigger": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "If type event is created en creationMode enrollment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET User = givenName + familyName + userLanguage": {
      "main": [
        [
          {
            "node": "Create an Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If type event is created en creationMode enrollment": {
      "main": [
        [
          {
            "node": "GET User = givenName + familyName + userLanguage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:AWS SNS Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "AWS SNS Trigger": [
      {
        "json": {
          "Type": "Notification",
          "MessageId": "b676cc45-276f-5ce2-9ae6-adc901c5b8a1",
          "TopicArn": "arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub",
          "Message": "{\"specversion\":\"1.0\",\"id\":\"35ITae7AJwwuvaVIXJ9nqEqRrYi\",\"source\":\"com.bluems.acc.account\",\"type\":\"com.bluems.acc.account-created\",\"time\":\"2025-11-10T17:44:10.197Z\",\"combluemsaccountid\":\"194515064449\",\"data\":{\"accountId\":\"194515064449\",\"createdBy\":\"goliveira@bluemarketing.com\",\"name\":\"teste\",\"tags\":[],\"createdAt\":\"2025-11-10T17:44:09.949Z\",\"owner\":\"goliveira@bluemarketing.com\",\"creationMode\":\"member-account\",\"brn\":\"brn:bms:acc:global::account:194515064449\"}}",
          "Timestamp": "2025-11-10T17:44:10.219Z",
          "SignatureVersion": "1",
          "Signature": "CAT8Q4VyLPt4rLGwDxsDmqMDN/pI9ztciRiiMgigPzH8xw/fqGp+m7s2ELlCNzDSuwk0LH1lktdpmGsj74oswSunDRo91d1i5MyzKZP2t8wOv74m7ZXCtuoAqIORV3W5r2lGBdXpm+aSQ7XN8R07y7C6CcRKV7GegXKZ+GBMucR8CRmZmMH5XLmSDa+3v0mvRR/L48THXxKz8v4NWc9I3Xx8NWw8ZK2/GnHhWAjUvqla84a0ARpXjhZPJNcGafgJOKoQ1Abw+GHhLskvA7JOYwTBWrZSRTktwymztRc3Dmuv0VQmbAOPBJiNZhS7vBErSBm2zhgELmq49LjSmCXbHg==",
          "SigningCertURL": "https://sns.us-east-2.amazonaws.com/SimpleNotificationService-6209c161c6221fdf56ec1eb5c821d112.pem",
          "UnsubscribeURL": "https://sns.us-east-2.amazonaws.com/?Action=Unsubscribe&SubscriptionArn=arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub:6e1efdc4-4a0a-462c-acac-ff38faf91e74"
        }
      }
    ],
    "Convert to JSON": [
      {
        "json": {
          "specversion": "1.0",
          "id": "35ITae7AJwwuvaVIXJ9nqEqRrYi",
          "source": "com.bluems.acc.account",
          "type": "com.bluems.acc.account-created",
          "time": "2025-11-10T17:44:10.197Z",
          "combluemsaccountid": "194515064449",
          "data": {
            "accountId": "194515064449",
            "createdBy": "goliveira@bluemarketing.com",
            "name": "teste",
            "tags": [],
            "createdAt": "2025-11-10T17:44:09.949Z",
            "owner": "gakkari@bluemarketing.com",
            "creationMode": "enrollment",
            "brn": "brn:bms:acc:global::account:194515064449"
          }
        }
      }
    ],
    "GET User = givenName + familyName + userLanguage": [
      {
        "json": {
          "event": "customer-account-created",
          "email": "gakkari@bluemarketing.com",
          "givenName": "Giovanna",
          "familyName": "Akkari",
          "createdAt": "2025-11-04T19:51:12.583Z",
          "modifiedAt": "2025-11-04T19:51:12.583Z",
          "lastAccess": "2025-11-07T18:48:35.417Z",
          "enabled": true,
          "awsCognitoUserId": "fd14cca9-fdbd-4c61-85f8-f067593ac291",
          "signedTermsVersion": "signup-terms-and-conditions-20240404.pdf",
          "userLanguage": "pt",
          "brn": "brn:bms:iam:global::user:goliveira@bluemarketing.com"
        }
      }
    ]
  },
  "versionId": "83b0b956-f7f7-45d7-a67d-6678ac1523cb",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-24T18:05:24.203Z",
      "updatedAt": "2025-11-24T18:05:24.203Z",
      "role": "workflow:owner",
      "workflowId": "PeYY8UfWXjVRr9XJ",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}