workflows/monday-update-welcome-e-mail/2025/11/d1f0c8b7-0f4e-4689-a46b-dd77e013340c.json
{
  "createdAt": "2025-11-29T15:23:47.792Z",
  "updatedAt": "2025-11-30T02:52:03.928Z",
  "id": "Sro2fUKv0FdugW54",
  "name": "[monday] Update Welcome e-mail",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "b612a6c6-f1b1-4e3a-aff1-513ad416f0d6",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        640,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mondayComApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"query\": `query {\n      boards (ids: [18390215665]) {\n        items_page (query_params: {\n          rules: [{\n            column_id: \"text_mkwpqa68\",\n            compare_value: [\"${$node[\"Start\"].json.email}\"]\n          }]\n        }) {\n          items {\n            id\n            column_values(ids: [\"deal_stage\"]) {\n              text\n            }\n          }\n        }\n      }\n    }`\n  }\n}}",
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -176
      ],
      "id": "3f36c884-243f-465f-b885-18d726da45e9",
      "name": "Busca e-mail Board Monday",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.data.boards[0].items_page.items[0].id }}",
        "value": "=E-mail de boas vindas enviado com sucesso!\n\nE-mail de destino: {{ $('Start').item.json.email }}\nIdioma: {{ $('Start').item.json.language }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1312,
        -256
      ],
      "id": "4aaddeab-7730-4d6e-aec9-74e8ea43042b",
      "name": "Add an update to an item",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "868c4b15-3744-4e34-8ec5-d4ad32eb1038",
              "leftValue": "={{ $json.data.boards[0].items_page.items }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        -176
      ],
      "id": "dcab5197-57fd-4cc4-8f14-bd1c172671cc",
      "name": "Achou o Item?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        -176
      ],
      "id": "52f9a456-a38c-4972-9b9b-aea1535cebd2",
      "name": "Wait",
      "webhookId": "b7e0014f-b141-45a4-ba43-78d4e8ee5d05"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "345c7abe-ed7f-4e76-be03-dc28d1c11e62",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        -80
      ],
      "id": "42ff6696-754e-4c76-89ca-0eec9e53d2c6",
      "name": "Recorrência"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#team-dmp",
          "mode": "name"
        },
        "text": "TESTE KESLLEY - FLUXO N8N - [ERRO AO ATUALOIZAR ITEM NO MONDAY]",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1504,
        16
      ],
      "id": "d6e721e8-5345-484d-8ac5-95579c4c4a85",
      "name": "Send a message",
      "webhookId": "4261914e-6fa1-4fe1-90f4-5947616fcf64",
      "retryOnFail": false,
      "credentials": {
        "slackApi": {
          "id": "uSy4DZ7eURyYGk8a",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        16
      ],
      "id": "0daaf7eb-0eba-47b8-8199-4eb940c673ad",
      "name": "Compilador de Dados"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Busca e-mail Board Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca e-mail Board Monday": {
      "main": [
        [
          {
            "node": "Achou o Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Achou o Item?": {
      "main": [
        [
          {
            "node": "Add an update to an item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recorrência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recorrência": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Compilador de Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compilador de Dados": {
      "main": [
        [
          {
            "node": "Busca e-mail Board Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Start": [
      {
        "json": {
          "email": "gakkari@bluemarketing.com",
          "fullName": "Giovanna Akkari",
          "firstName": "Giovanna",
          "lastName": "Akkari",
          "registrationDate": "2025-11-04T19:51:12.583Z",
          "language": "pt",
          "accountId": "194515064449",
          "createdBy": "goliveira@bluemarketing.com",
          "emailSentDate": "2025-11-29T15:30:09.012-03:00"
        }
      }
    ]
  },
  "versionId": "d1f0c8b7-0f4e-4689-a46b-dd77e013340c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-29T15:23:47.792Z",
      "updatedAt": "2025-11-29T15:23:47.792Z",
      "role": "workflow:owner",
      "workflowId": "Sro2fUKv0FdugW54",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}