workflows/n8n-workflow-versioner/16097f91-60e5-40fd-b967-72353a573657.json
{
  "createdAt": "2025-11-11T19:43:26.929Z",
  "updatedAt": "2025-11-17T22:44:53.956Z",
  "id": "IwlwrEDIEneJtGaq",
  "name": "n8n-workflow-versioner",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "2f158be9-e266-45b2-9a38-1c7af95bf37b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Gera um slug seguro para filename\nfunction slugify(text){\n  return text.toString().toLowerCase()\n    .replace(/\\s+/g, '-')      // espaços -> hífen\n    .replace(/[^\\w\\-]+/g, '')  // remove chars indesejados\n    .replace(/\\-\\-+/g, '-')    // múltiplos hífens\n    .replace(/^-+/, '')        // trim – começo\n    .replace(/-+$/, '');       // trim – fim\n}\n\nconst wf = $json;\n\n// Pega o versionId ou cai no id como fallback\nconst versionId = wf.versionId || 'no-version';\n\n// Nome amigável\nconst name = wf.name || wf.title || `workflow-${versionId}`;\n\n// Slug do nome\nconst slug = slugify(name);\n\n// Caminho do arquivo (pasta do workflow, arquivo = version)\nconst filename = `workflows/${slug}/${versionId}.json`;\n\n// Conteúdo formatado\nconst contentString = JSON.stringify(wf, null, 2);\n\n// Retorno de 1 item por execução (IMPORTANTE)\nreturn {\n  json: {\n    versionId,\n    name,\n    filename,\n    contentString\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "deaf563f-5a23-424b-b8aa-7c03bb0df298",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "d2f18ea7-4c69-4d80-b554-c006425a3602",
      "name": "Poll Workflows"
    },
    {
      "parameters": {
        "url": "https://n8n.aut.us-east-2.bluemsdev.team/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        0
      ],
      "id": "9eccf46e-6670-4e58-a778-e82cdb937169",
      "name": "List Workflows",
      "credentials": {
        "httpBasicAuth": {
          "id": "Fa6T2LBz33mw9B9D",
          "name": "n8n"
        },
        "n8nApi": {
          "id": "TiFJoOHniksNJN92",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "goliveirabms",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-version",
          "mode": "list",
          "cachedResultName": "n8n-workflows-version",
          "cachedResultUrl": "https://github.com/goliveirabms/n8n-workflows-version"
        },
        "filePath": "={{ $('Code in JavaScript').item.json.filename }}",
        "fileContent": "={{ $('Code in JavaScript').item.json.contentString }}",
        "commitMessage": "=n8n auto-version: {{ $('Code in JavaScript').item.json.filename }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1344,
        96
      ],
      "id": "69547a2a-b176-4e1e-9f1e-b987fd13734d",
      "name": "Create a file",
      "webhookId": "ec055314-29bc-4d09-9a1b-795da869318d",
      "credentials": {
        "githubOAuth2Api": {
          "id": "7lzJ9VSOfW4trqIP",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "goliveirabms",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-version",
          "mode": "list",
          "cachedResultName": "n8n-workflows-version",
          "cachedResultUrl": "https://github.com/goliveirabms/n8n-workflows-version"
        },
        "filePath": "={{ $json.filename }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        816,
        0
      ],
      "id": "3d05184b-abce-4e6d-95d1-08823a0288fb",
      "name": "Get a file",
      "webhookId": "2771eb66-eb1e-43b1-9799-9c976e58b5f1",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "7lzJ9VSOfW4trqIP",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5e6d47f-9b44-472f-8724-d1b180e30ee0",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        0
      ],
      "id": "1f9fd18a-868e-477c-a56a-bdea8bc68f53",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "goliveirabms",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-version",
          "mode": "list",
          "cachedResultName": "n8n-workflows-version",
          "cachedResultUrl": "https://github.com/goliveirabms/n8n-workflows-version"
        },
        "filePath": "={{ $('Code in JavaScript').item.json.filename }}",
        "fileContent": "={{ $('Code in JavaScript').item.json.contentString }}",
        "commitMessage": "=n8n auto-version: Updated {{ $('Code in JavaScript').item.json.filename }} at {{$now}}\n"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1344,
        -64
      ],
      "id": "378de2bf-31f4-42d6-b7d3-6526037d53e6",
      "name": "Edit a file",
      "webhookId": "4b3fb4b2-fd95-469d-a934-63b6fd0e9345",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "7lzJ9VSOfW4trqIP",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Workflows": {
      "main": [
        [
          {
            "node": "List Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [],
        []
      ]
    },
    "Create a file": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Poll Workflows": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "16097f91-60e5-40fd-b967-72353a573657",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-11T19:43:26.929Z",
      "updatedAt": "2025-11-11T19:43:26.929Z",
      "role": "workflow:owner",
      "workflowId": "IwlwrEDIEneJtGaq",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}