workflows/3Q4KUhBcScUMlcf7-acc-quota-quota-increase-request.json
{
  "createdAt": "2025-11-04T13:47:56.649Z",
  "updatedAt": "2025-11-14T13:22:45.380Z",
  "id": "3Q4KUhBcScUMlcf7",
  "name": "[acc--quota] Quota Increase Request",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('GET USER (givenName + familyName + userLanguage)').item.json.userLanguage }}",
                    "rightValue": "en-US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "37e7da63-4fab-4984-b420-50740d708725"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "en-US"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7911db91-2b26-43ac-813a-f52b6bd064f3",
                    "leftValue": "={{ $('GET USER (givenName + familyName + userLanguage)').item.json.userLanguage }}",
                    "rightValue": "pt-BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pt-BR"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        64,
        560
      ],
      "id": "f4cfe2e8-061a-40b6-91b2-a52ea5ad5b24",
      "name": "Idioma Approved"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('GET USER (givenName + familyName + userLanguage)').item.json.userLanguage }}",
                    "rightValue": "en-US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9556156e-a5ae-473d-914c-04fa50a98e20"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "en-US"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55475e66-0f23-4a0e-8324-9460a39bacbf",
                    "leftValue": "={{ $('GET USER (givenName + familyName + userLanguage)').item.json.userLanguage }}",
                    "rightValue": "pt-BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pt-BR"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        64,
        912
      ],
      "id": "4609e8ce-6ec1-4342-9603-b8695b3fa603",
      "name": "Idioma Rejected"
    },
    {
      "parameters": {
        "topic": {
          "__rl": true,
          "value": "arn:aws:sns:us-east-2:359312844241:dev--acc--quota-increase-request-changed-events--z9pb",
          "mode": "list",
          "cachedResultName": "dev--acc--quota-increase-request-changed-events--z9pb",
          "cachedResultUrl": "https://us-east-2.console.aws.amazon.com/sns/v3/home?region=us-east-2#/topic/arn:aws:sns:us-east-2:359312844241:dev--acc--quota-increase-request-changed-events--z9pb"
        }
      },
      "type": "n8n-nodes-base.awsSnsTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        560
      ],
      "id": "5c0976c9-5d28-4982-afdd-528dded95d72",
      "name": "AWS SNS Trigger",
      "webhookId": "91eea7e1-0853-433e-994b-ba42130b9d04",
      "credentials": {
        "aws": {
          "id": "6a2LeR1JFdLEeTgc",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return JSON.parse($json.Message)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        560
      ],
      "id": "5c97fd56-d6d2-4e64-9c20-5097b01f16c2",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 18,
        "receipients": "={{ $('GET Account (owner)').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=ACCOUNTID={{ $('Convert to JSON').item.json.data.accountId }},USERNAME= {{ $('GET USER (givenName + familyName + userLanguage)').item.json.givenName }} {{ $('GET USER (givenName + familyName + userLanguage)').item.json.familyName }},QUOTANAME= {{ $('GET Quota (Quota Name)').item.json.name }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        448,
        288
      ],
      "id": "88021109-0b3f-43d1-abc0-0352cdda4798",
      "name": "Envio Pending - pt-BR",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 10,
        "receipients": "={{ $('GET Account (owner)').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=ACCOUNTID={{ $('Convert to JSON').item.json.data.accountId }},USERNAME= {{ $('GET USER (givenName + familyName + userLanguage)').item.json.givenName }} {{ $('GET USER (givenName + familyName + userLanguage)').item.json.familyName }},QUOTANAME= {{ $('GET Quota (Quota Name)').item.json.name }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        448,
        464
      ],
      "id": "cd24c858-fe09-48c7-a083-69523aa2fc94",
      "name": "Envio Approved en-US",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 12,
        "receipients": "={{ $('GET Account (owner)').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=ACCOUNTID={{ $('Convert to JSON').item.json.data.accountId }},USERNAME= {{ $('GET USER (givenName + familyName + userLanguage)').item.json.givenName }} {{ $('GET USER (givenName + familyName + userLanguage)').item.json.familyName }},QUOTANAME= {{ $('GET Quota (Quota Name)').item.json.name }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        448,
        656
      ],
      "id": "bf481b24-f11f-441e-97a8-56fd66a655dd",
      "name": "Envio Approved pt-BR",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 11,
        "receipients": "={{ $('GET Account (owner)').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=ACCOUNTID={{ $('Convert to JSON').item.json.data.accountId }},USERNAME= {{ $('GET USER (givenName + familyName + userLanguage)').item.json.givenName }} {{ $('GET USER (givenName + familyName + userLanguage)').item.json.familyName }},QUOTANAME= {{ $('GET Quota (Quota Name)').item.json.name }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        448,
        848
      ],
      "id": "a38506ac-bcf8-4d9a-bb7d-4bcf8fd1572a",
      "name": "Envio Rejected en-US",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 13,
        "receipients": "={{ $('GET Account (owner)').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=ACCOUNTID={{ $('Convert to JSON').item.json.data.accountId }},USERNAME= {{ $('GET USER (givenName + familyName + userLanguage)').item.json.givenName }} {{ $('GET USER (givenName + familyName + userLanguage)').item.json.familyName }},QUOTANAME= {{ $('GET Quota (Quota Name)').item.json.name }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        448,
        1024
      ],
      "id": "6919e8f4-4bdf-4fa8-a6a8-f0ac18bbe733",
      "name": "Envio Rejected pt-BR",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b04cdfdd-c40b-4fe2-84ec-f9cd8bc36432",
                    "leftValue": "={{ $('Convert to JSON').item.json.data.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Convert to JSON').item.json.data.status }}",
                    "rightValue": "approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3b50c949-0844-449d-975f-9fd341982e35"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51faccfc-338e-4f4d-9fac-f720b2aede29",
                    "leftValue": "={{ $('Convert to JSON').item.json.data.status }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -272,
        544
      ],
      "id": "37527d46-64ce-4c13-bcf1-eab76e197bd3",
      "name": "SWITCH - PENDING/APPROVED / REJECTED"
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        368
      ],
      "id": "b91f9a79-4862-41b3-bc17-69383e1b636a",
      "name": "Notification Pending",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.userLanguage }}",
                    "rightValue": "en-US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "42deab6b-5523-42b5-a7d4-e208be05f5fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "en-US"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "65050719-ce5b-4905-9d75-b85cd041ae6a",
                    "leftValue": "={{ $json.userLanguage }}",
                    "rightValue": "pt-BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pt-BR"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        64,
        208
      ],
      "id": "76d97d7e-076d-4eff-a01f-77884a47c536",
      "name": "Idioma Pending"
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        720
      ],
      "id": "f1a2912e-8ebe-4673-8039-b985266e4133",
      "name": "Notification Approved",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        1072
      ],
      "id": "677607a0-0f0d-41c5-95b0-5236b7c9734b",
      "name": "Notification Rejected",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 19,
        "receipients": "={{ $('GET Account (owner)').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=ACCOUNTID={{ $('Convert to JSON').item.json.data.accountId }},USERNAME= {{ $('GET USER (givenName + familyName + userLanguage)').item.json.givenName }} {{ $('GET USER (givenName + familyName + userLanguage)').item.json.familyName }},QUOTANAME= {{ $('GET Quota (Quota Name)').item.json.name }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        448,
        96
      ],
      "id": "08b0d780-0769-42c1-ae65-262fd5dd790d",
      "name": "Envio Pending - en-US",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "content": "Envia email de acordo com o processo de quota",
        "height": 1184,
        "width": 2320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        80
      ],
      "typeVersion": 1,
      "id": "274cec65-175c-4717-a8ff-4add43f364f5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=http://api.quota.acc.sd.internal.us-east-2.bluemsdev.team/v1/accounts/{{ $json.data.accountId }}/quotas/{{ $json.data.quotaId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        560
      ],
      "id": "41f37584-91b2-4a02-8d2a-7f84a85d473c",
      "name": "GET Quota (Quota Name)"
    },
    {
      "parameters": {
        "url": "=http://api.account.acc.sd.internal.us-east-2.bluemsdev.team/v1/accounts/{{ $('Convert to JSON').item.json.data.accountId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        560
      ],
      "id": "995ad004-357c-47e1-9a82-11b30c10383c",
      "name": "GET Account (owner)"
    },
    {
      "parameters": {
        "url": "=http://api.user.iam.sd.internal.us-east-2.bluemsdev.team/v1/users/{{ $json.owner }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        560
      ],
      "id": "dcf226a9-feca-406b-b718-67c3855466b3",
      "name": "GET USER (givenName + familyName + userLanguage)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c41622-8cb8-4e6e-83ab-f2b4a98029ae",
              "leftValue": "={{ $json.owner }}",
              "rightValue": "john.doe@example.com",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -672,
        560
      ],
      "id": "6336c681-af17-485b-82d7-f5b4943aaf43",
      "name": "Removendo john.doe@example.com"
    }
  ],
  "connections": {
    "Idioma Approved": {
      "main": [
        [
          {
            "node": "Envio Approved en-US",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio Approved pt-BR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idioma Rejected": {
      "main": [
        [
          {
            "node": "Envio Rejected en-US",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio Rejected pt-BR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS SNS Trigger": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "GET Quota (Quota Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH - PENDING/APPROVED / REJECTED": {
      "main": [
        [
          {
            "node": "Idioma Pending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Idioma Approved",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Idioma Rejected",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idioma Pending": {
      "main": [
        [
          {
            "node": "Envio Pending - en-US",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio Pending - pt-BR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Quota (Quota Name)": {
      "main": [
        [
          {
            "node": "GET Account (owner)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Account (owner)": {
      "main": [
        [
          {
            "node": "Removendo john.doe@example.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET USER (givenName + familyName + userLanguage)": {
      "main": [
        [
          {
            "node": "SWITCH - PENDING/APPROVED / REJECTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Removendo john.doe@example.com": {
      "main": [
        [
          {
            "node": "GET USER (givenName + familyName + userLanguage)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:AWS SNS Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "AWS SNS Trigger": [
      {
        "json": {
          "Type": "Notification",
          "MessageId": "ad5c6290-fb4b-5a4a-b0b2-031cdc372002",
          "TopicArn": "arn:aws:sns:us-east-2:359312844241:dev--acc--quota-increase-request-changed-events--z9pb",
          "Message": "{\"specversion\":\"1.0\",\"id\":\"35IU15PXpkxl7AXRXWTmcwYFm97\",\"source\":\"com.bluems.acc.quota\",\"type\":\"com.bluems.acc.quota-increase-request-created\",\"time\":\"2025-11-10T17:47:40.845Z\",\"combluemsaccountid\":\"620150898924\",\"data\":{\"quotaIncreaseRequestId\":\"35IU0EPOvDTOY8CODSBwqmDUqsf\",\"accountId\":\"620150898924\",\"quotaId\":\"dsp--campaign--campaign-limit\",\"response\":null,\"status\":\"pending\",\"value\":11,\"reason\":\"Teste GabrielTeste GabrielTeste GabrielTeste Gabriel\",\"createdAt\":\"2025-11-10T17:47:34.191Z\",\"updatedAt\":\"2025-11-10T17:47:34.191Z\"}}",
          "Timestamp": "2025-11-10T17:47:40.868Z",
          "SignatureVersion": "1",
          "Signature": "uqaEjpQ9pSm6RZV8lIbjoCvesQ5/Hv+CHh3pvZY4tPFzwN0WxmORMmCmSoIntYsxXs/gbXJIttgCJP8+cHd0Z+tEsRV5iw8ZvUwvx3w5uDQ44F36kyULggbqKk74MwHVeQgrtjbV0GabqmSNu0Ua/MLOHrYrbY4LA4qLfGUtYK1JdV4mDSgw0ht1K6/0IPt9PFINZmf8Xh+J8vrVpoC5stc3kwfYdMBh/VPNDdYL8I0db//vszYOsW0EWb1+bIpNDdlWgju+7b4D0jiQyFpxnGsPwgZGgyhcWsClJeziwWC3MEEGZEDiMY808nt4evKKumBzT+aHY3YWe2VN5gJ8pw==",
          "SigningCertURL": "https://sns.us-east-2.amazonaws.com/SimpleNotificationService-6209c161c6221fdf56ec1eb5c821d112.pem",
          "UnsubscribeURL": "https://sns.us-east-2.amazonaws.com/?Action=Unsubscribe&SubscriptionArn=arn:aws:sns:us-east-2:359312844241:dev--acc--quota-increase-request-changed-events--z9pb:2bd8a38f-d231-4db2-83c3-68fba74b9cd7"
        }
      }
    ],
    "Convert to JSON": [
      {
        "json": {
          "specversion": "1.0",
          "id": "35IU15PXpkxl7AXRXWTmcwYFm97",
          "source": "com.bluems.acc.quota",
          "type": "com.bluems.acc.quota-increase-request-created",
          "time": "2025-11-10T17:47:40.845Z",
          "combluemsaccountid": "620150898924",
          "data": {
            "quotaIncreaseRequestId": "35IU0EPOvDTOY8CODSBwqmDUqsf",
            "accountId": "620150898924",
            "quotaId": "dsp--campaign--campaign-limit",
            "response": null,
            "status": "pending",
            "value": 11,
            "reason": "Teste GabrielTeste GabrielTeste GabrielTeste Gabriel",
            "createdAt": "2025-11-10T17:47:34.191Z",
            "updatedAt": "2025-11-10T17:47:34.191Z"
          }
        }
      }
    ],
    "GET USER (givenName + familyName + userLanguage)": [
      {
        "json": {
          "email": "gakkari@bluemarketing.com",
          "givenName": "Gabriel",
          "familyName": "Oliveira",
          "createdAt": "2025-11-04T19:51:12.583Z",
          "modifiedAt": "2025-11-04T19:51:12.583Z",
          "lastAccess": "2025-11-07T18:48:35.417Z",
          "enabled": true,
          "awsCognitoUserId": "fd14cca9-fdbd-4c61-85f8-f067593ac291",
          "signedTermsVersion": "signup-terms-and-conditions-20240404.pdf",
          "userLanguage": "pt-BR",
          "brn": "brn:bms:iam:global::user:goliveira@bluemarketing.com"
        }
      }
    ],
    "GET Account (owner)": [
      {
        "json": {
          "accountId": "620150898924",
          "createdBy": "goliveira@bluemarketing.com",
          "name": "Root",
          "tags": [
            "brands"
          ],
          "createdAt": "2025-11-04T20:42:31.842Z",
          "owner": "goliveira@bluemarketing.com",
          "creationMode": "enrollment",
          "brn": "brn:bms:acc:global::account:620150898924"
        }
      }
    ]
  },
  "versionId": "31bf59c5-59f2-436d-9721-c9b8947eb655",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-04T13:47:56.649Z",
      "updatedAt": "2025-11-04T13:47:56.649Z",
      "role": "workflow:owner",
      "workflowId": "3Q4KUhBcScUMlcf7",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}