workflows/ads-ad-first-ad-approved/2025/11/f02c125a-20c7-49fa-abab-3794b72b508b.json
{
  "createdAt": "2025-11-04T22:10:34.035Z",
  "updatedAt": "2025-11-25T11:38:08.226Z",
  "id": "lB1M5FFzNdkiI60q",
  "name": "[ads--ad] First Ad Approved",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "topic": {
          "__rl": true,
          "value": "arn:aws:sns:us-east-2:359312844241:dev--ads--ad-changed-events--bzo9",
          "mode": "list",
          "cachedResultName": "dev--ads--ad-changed-events--bzo9",
          "cachedResultUrl": "https://us-east-2.console.aws.amazon.com/sns/v3/home?region=us-east-2#/topic/arn:aws:sns:us-east-2:359312844241:dev--ads--ad-changed-events--bzo9"
        }
      },
      "type": "n8n-nodes-base.awsSnsTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -32
      ],
      "id": "abbdb616-4f22-4745-88aa-369e4cbf574e",
      "name": "AWS SNS Trigger1",
      "webhookId": "f927273b-7a8c-4d52-81fd-4731b96ea1ba",
      "credentials": {
        "aws": {
          "id": "6a2LeR1JFdLEeTgc",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5158d887-518b-42ac-888b-95c5ddf4cbb1",
              "leftValue": "={{ $('Convert to JSON').item.json.type }}",
              "rightValue": "com.bluems.ads.ad-patched",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "30a85d01-d265-4e57-b1bc-3967222ae436",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -256,
        -32
      ],
      "id": "83e99b5c-30ac-4c79-8f4a-a1652b4e9b00",
      "name": "Evento de Patch e status approved"
    },
    {
      "parameters": {
        "content": "Recebe evento de ads--ad-changed e formata para JSON",
        "height": 528,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        -208
      ],
      "typeVersion": 1,
      "id": "676ff1df-e7a2-4a7a-8e92-ce48ea36dac6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($json.Message)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -32
      ],
      "id": "3cc6abeb-5e92-41df-a860-4ae87197aee2",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78db590a-3c86-4d7a-9ea2-f39f9daa6e32",
              "leftValue": "={{ $json.accountId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        544,
        -32
      ],
      "id": "8035e083-c580-4267-8b42-0efa20ad8e10",
      "name": "Se account Id não existe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b49a079-57a1-4105-80f5-04c92f68fd03",
              "leftValue": "={{ $json.emailSent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        144,
        -32
      ],
      "id": "39a8f9a1-aeb2-4f83-a3c8-4736a23c7869",
      "name": "Verificar se já foi enviado email"
    },
    {
      "parameters": {
        "url": "=http://api.account.acc.sd.internal.us-east-2.bluemsdev.team/v1/accounts/{{ $json.accountId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -32
      ],
      "id": "0ef7680a-38de-43b5-8ff4-1910dec1f19e",
      "name": "GET Account"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.userLanguage }}",
                    "rightValue": "pt-BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f9e74457-3309-4cf9-9b84-f28c265b3039"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pt-BR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df12c731-f99c-45a7-8219-1011754d5e3f",
                    "leftValue": "={{ $json.userLanguage }}",
                    "rightValue": "en-US",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "en-US"
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1360,
        -32
      ],
      "id": "2a3bc7cd-d2ca-4490-985b-6baa825bba8d",
      "name": "Switch - Verify Language"
    },
    {
      "parameters": {
        "url": "=http://api.user.iam.sd.internal.us-east-2.bluemsdev.team/v1/users/{{ $json.owner }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -32
      ],
      "id": "0a3a4ff4-11ea-4f90-bce6-fb798eff14d0",
      "name": "GET User (givenName + familyName + userLanguage)"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 27,
        "receipients": "={{ $('GET Account').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=USERNAME=  {{ $json.givenName }} {{ $json.familyName }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1616,
        -128
      ],
      "id": "973fb455-c085-4183-bdd3-94055267f002",
      "name": "Send Email - First Ad Approved(pt-BR)",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 26,
        "receipients": "={{ $('GET Account').item.json.owner }}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=USERNAME=  {{ $json.givenName }} {{ $json.familyName }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1616,
        64
      ],
      "id": "6d949db4-872e-4a7e-9068-4f9fb09e0000",
      "name": "Send Email - First Ad Approved (en-US)",
      "credentials": {
        "sendInBlueApi": {
          "id": "vIHEsr5CjA2HhEXe",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "[dev--n8n] email-sent",
        "filters": {
          "conditions": [
            {
              "keyName": "accountId",
              "keyValue": "={{ $('Convert to JSON').item.json.data.accountId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        -32
      ],
      "id": "e87463e2-ec77-49c0-87f7-f1a740e6e1d5",
      "name": "Get email-sent",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Hk6s1gSoJNe3eXfm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "[dev--n8n] email-sent",
        "filters": {
          "conditions": [
            {
              "keyName": "accountId",
              "condition": "eq",
              "keyValue": "={{ $json.accountId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "emailSent",
              "fieldValue": "false"
            },
            {
              "fieldId": "modifiedAt",
              "fieldValue": "now()"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        -32
      ],
      "id": "e0dc271b-bd38-492a-ab96-d4231061a485",
      "name": "Update modifiedAt email-sent",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Hk6s1gSoJNe3eXfm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "[dev--n8n] email-sent",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "accountId",
              "fieldValue": "={{ $('Convert to JSON').item.json.data.accountId }}"
            },
            {
              "fieldId": "emailSent",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        -32
      ],
      "id": "38658b06-54e4-4cf3-9321-51309d6bc2f1",
      "name": "Create a client email-sent",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6s1gSoJNe3eXfm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "[dev--n8n] email-sent",
        "filters": {
          "conditions": [
            {
              "keyName": "accountId",
              "condition": "eq",
              "keyValue": "={{ $('GET Account').item.json.accountId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "accountId",
              "fieldValue": "={{$('GET Account').item.json.accountId }}"
            },
            {
              "fieldId": "sendDate",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('GET Account').item.json.owner }}"
            },
            {
              "fieldId": "emailSent",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1856,
        -32
      ],
      "id": "888dfd03-9c12-44fb-af6c-a0865f80bbba",
      "name": "Update para true email-sent",
      "credentials": {
        "supabaseApi": {
          "id": "Hk6s1gSoJNe3eXfm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "Verifica se o Ad contém status de Approved",
        "height": 528,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -208
      ],
      "typeVersion": 1,
      "id": "083fa811-37b6-40e7-846f-a4d56dd2d5ab",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Acessa o primeiro item de entrada\nconst data = items[0].json.data;\n\n// Verifica se existe algum exchangeReview com status 'approved'\nconst hasApproved = data.exchangeReviews.some(r => r.status === 'approved');\n\n// Retorna true ou false\nreturn [{ json: { approved: hasApproved } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -32
      ],
      "id": "29afa3c9-d1cd-4de3-ac68-f85961e3e09d",
      "name": "Verifiy if exchangeReviews.status is Approved"
    },
    {
      "parameters": {
        "content": "Verifica na base se já enviamos email para esse account, se não o fluxo continua",
        "height": 528,
        "width": 384,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -208
      ],
      "typeVersion": 1,
      "id": "22a61120-3760-4cdc-ae5d-b18c1205e932",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Caso o email não exista na base, tentamos fazer upsert. Pois geralmente existem mais de um ad criados/aprovados para a mesma conta em periodo próximos",
        "height": 528,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -208
      ],
      "typeVersion": 1,
      "id": "c08756d2-4de3-47be-ab6e-59e7be0dddcf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Pegamos os dados de conta e usuário para envio do email",
        "height": 528,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -208
      ],
      "typeVersion": 1,
      "id": "9e309087-b5a2-4610-814d-80e525b92294",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Enviamos o email de acordo com a liguagem do usuário",
        "height": 528,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        -208
      ],
      "typeVersion": 1,
      "id": "33f0b213-692f-48e8-8b66-4ce706504a72",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Atualizamos na base que o email foi enviado",
        "height": 528,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        -208
      ],
      "typeVersion": 1,
      "id": "3ad7ded6-4780-4809-abd0-ab9bddef6b78",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "AWS SNS Trigger1": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento de Patch e status approved": {
      "main": [
        [
          {
            "node": "Get email-sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Verifiy if exchangeReviews.status is Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se account Id não existe": {
      "main": [
        [
          {
            "node": "Create a client email-sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se já foi enviado email": {
      "main": [
        [
          {
            "node": "Update modifiedAt email-sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Account": {
      "main": [
        [
          {
            "node": "GET User (givenName + familyName + userLanguage)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Verify Language": {
      "main": [
        [
          {
            "node": "Send Email - First Ad Approved(pt-BR)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email - First Ad Approved (en-US)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET User (givenName + familyName + userLanguage)": {
      "main": [
        [
          {
            "node": "Switch - Verify Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - First Ad Approved(pt-BR)": {
      "main": [
        [
          {
            "node": "Update para true email-sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email - First Ad Approved (en-US)": {
      "main": [
        [
          {
            "node": "Update para true email-sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get email-sent": {
      "main": [
        [
          {
            "node": "Verificar se já foi enviado email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update modifiedAt email-sent": {
      "main": [
        [
          {
            "node": "Se account Id não existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a client email-sent": {
      "main": [
        [
          {
            "node": "GET Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifiy if exchangeReviews.status is Approved": {
      "main": [
        [
          {
            "node": "Evento de Patch e status approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:AWS SNS Trigger1": {},
    "node:AWS SNS Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "AWS SNS Trigger1": [
      {
        "json": {
          "Type": "Notification",
          "MessageId": "049eef70-d3cb-5dfa-a9e5-8ef4bec13711",
          "TopicArn": "arn:aws:sns:us-east-2:359312844241:dev--ads--ad-changed-events--bzo9",
          "Message": "{\"specversion\":\"1.0\",\"id\":\"351vQmWXtNVfliQkK66VFNPE49h\",\"source\":\"com.bluems.ads.ad\",\"type\":\"com.bluems.ads.ad-patched\",\"time\":\"2025-11-04T21:06:18.641Z\",\"combluemsaccountid\":\"120423812583\",\"data\":{\"adId\":\"351pGQY0sJZzVNKX9cqkh9lXgdh\",\"accountId\":\"120423812583\",\"exchangeReviews\":[{\"status\":\"approved\",\"comments\":\"\",\"updatedAt\":\"2025-11-04T21:06:17.106Z\",\"exchangeId\":\"adx\",\"exchangeReviewId\":\"dev-351pGQY0sJZzVNKX9cqkh9lXgdh\"},{\"status\":\"reviewing\",\"comments\":\"\",\"updatedAt\":\"2025-11-04T21:04:17.714Z\",\"exchangeId\":\"xandr\",\"exchangeReviewId\":\"dev-351pGQY0sJZzVNKX9cqkh9lXgdh\"}],\"name\":\"Teste.png\",\"tags\":[\"QQHXHR\"],\"archived\":false,\"domain\":\"bluems.com\",\"spec\":{\"banner\":{\"width\":300,\"height\":250}},\"createdAt\":\"2025-11-04T20:15:35.039Z\",\"modifiedAt\":\"2025-11-04T21:06:17.106Z\",\"brn\":\"brn:bms:ads:global:120423812583:ad:351pGQY0sJZzVNKX9cqkh9lXgdh\"}}",
          "Timestamp": "2025-11-04T21:06:18.666Z",
          "SignatureVersion": "1",
          "Signature": "gr+sybJcA/zlChHicfxCsIYnIR9HcYKPNYTXzH4tlKwoZ5BWe058vaew59E1tTiTMdSWcHUeoUuTksG7TLwIgUB+hhNNG98HoGUylOO1e1eqhP3fEkMefSczGg5cxwVPR+7K1JsaOAvaAXjOc6xV5KNdy94740Y+ibulhCHJBKLpbd4KLXp1SBFVt9E2h2tgkQDZeSDbZ9GIRAKA2joWt7Y5+6OO+xLOFbjOMiFa0qQqDt6L/IHgRk87O8tmltCxUE2PVFXDPvwHnvGYrs9P+0GQB/iU6O2+D5muQGpgvtNT8b8f69TL0DLKof2k6G0JFZNey0OOduvRXNGw8jpOJw==",
          "SigningCertURL": "https://sns.us-east-2.amazonaws.com/SimpleNotificationService-6209c161c6221fdf56ec1eb5c821d112.pem",
          "UnsubscribeURL": "https://sns.us-east-2.amazonaws.com/?Action=Unsubscribe&SubscriptionArn=arn:aws:sns:us-east-2:359312844241:dev--ads--ad-changed-events--bzo9:22b577a7-f4f8-4bbc-b298-593eb15f7f5f"
        }
      }
    ],
    "Convert to JSON": [
      {
        "json": {
          "specversion": "1.0",
          "id": "351vQmWXtNVfliQkK66VFNPE49h",
          "source": "com.bluems.ads.ad",
          "type": "com.bluems.ads.ad-patched",
          "time": "2025-11-04T21:06:18.641Z",
          "combluemsaccountid": "120423812583",
          "data": {
            "adId": "351pGQY0sJZzVNKX9cqkh9lXgdh",
            "accountId": "620150898924",
            "exchangeReviews": [
              {
                "status": "approved",
                "comments": "",
                "updatedAt": "2025-11-04T21:06:17.106Z",
                "exchangeId": "adx",
                "exchangeReviewId": "dev-351pGQY0sJZzVNKX9cqkh9lXgdh"
              },
              {
                "status": "reviewing",
                "comments": "",
                "updatedAt": "2025-11-04T21:04:17.714Z",
                "exchangeId": "xandr",
                "exchangeReviewId": "dev-351pGQY0sJZzVNKX9cqkh9lXgdh"
              }
            ],
            "name": "Teste.png",
            "tags": [
              "QQHXHR"
            ],
            "archived": false,
            "domain": "bluems.com",
            "spec": {
              "banner": {
                "width": 300,
                "height": 250
              }
            },
            "createdAt": "2025-11-04T20:15:35.039Z",
            "modifiedAt": "2025-11-04T21:06:17.106Z",
            "brn": "brn:bms:ads:global:120423812583:ad:351pGQY0sJZzVNKX9cqkh9lXgdh"
          }
        }
      }
    ]
  },
  "versionId": "f02c125a-20c7-49fa-abab-3794b72b508b",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-04T22:10:34.035Z",
      "updatedAt": "2025-11-04T22:10:34.035Z",
      "role": "workflow:owner",
      "workflowId": "lB1M5FFzNdkiI60q",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}