workflows/schedule-d2-acc-account-list-accounts/2025/12/4e5f8385-cd04-45f4-ac8f-d9d90d18d23b.json
{
  "createdAt": "2025-12-06T16:10:42.068Z",
  "updatedAt": "2025-12-06T16:20:40.247Z",
  "id": "Ni5Hq7hzUbp5diic",
  "name": "schedule-d2--acc--account-list-accounts",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -160
      ],
      "id": "f1829dcb-5bb0-4705-928b-4379f240d2db",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Pega a data de hoje\nconst now = new Date();\n\n// Cria uma nova data e subtrai 2 dias (48 horas)\nconst targetDate = new Date(now);\ntargetDate.setDate(now.getDate() - 2);\n\n// Extrai Ano, Mês e Dia em UTC para garantir o padrão universal\nconst year = targetDate.getUTCFullYear();\nconst month = String(targetDate.getUTCMonth() + 1).padStart(2, '0'); // Mês começa em 0 no JS\nconst day = String(targetDate.getUTCDate()).padStart(2, '0');\n\n// Monta as strings no formato ISO 8601\nconst createdAfter = `${year}-${month}-${day}T00:00:00Z`;\nconst createdBefore = `${year}-${month}-${day}T23:59:59Z`;\n\n// Retorna o objeto JSON para o próximo nó\nreturn [{\n  json: {\n    createdAfter: createdAfter,\n    createdBefore: createdBefore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -160
      ],
      "id": "8e995108-2eb5-4f23-8fd2-4fb543f5a7bd",
      "name": "Função 48h"
    },
    {
      "parameters": {
        "url": "http://api.account.acc.sd.internal.us-east-2.bluemsdev.team/v1/accounts/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "={\"createdAfter\":\"{{$json.createdAfter}}\",\"createdBefore\":\"{{$json.createdBefore}}\"}"
            },
            {
              "name": "pageSize",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -160
      ],
      "id": "41eddbba-16c1-434a-8019-50954347e64d",
      "name": "List Accounts"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{\n  {\n    \"accountId\": $json.accountId,\n    \"email\": $json.owner,\n    \"accountName\": $json.name\n  }\n}}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -160
      ],
      "id": "63f78932-271b-4821-bec3-462335a93969",
      "name": "Compilador de Dados - Monday"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5NwsqKfIomqko4oV",
          "mode": "list",
          "cachedResultUrl": "/workflow/5NwsqKfIomqko4oV",
          "cachedResultName": "[monday] Tag Validation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        -160
      ],
      "id": "de661dc6-7b99-4292-8677-cfa6d6a9e1f5",
      "name": "Call '[monday] Tag Validation'"
    },
    {
      "parameters": {
        "fieldToSplitOut": "values",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        -160
      ],
      "id": "32377dd4-885e-4b0f-9275-4ab753f92bb9",
      "name": "Split Out1",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Função 48h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Função 48h": {
      "main": [
        [
          {
            "node": "List Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Accounts": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compilador de Dados - Monday": {
      "main": [
        [
          {
            "node": "Call '[monday] Tag Validation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Compilador de Dados - Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4e5f8385-cd04-45f4-ac8f-d9d90d18d23b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-06T16:10:42.068Z",
      "updatedAt": "2025-12-06T16:10:42.068Z",
      "role": "workflow:owner",
      "workflowId": "Ni5Hq7hzUbp5diic",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}