workflows/monday-account-created/2025/12/1148d7a0-6dcd-40d6-8a05-bd2bd748d22e.json
{
  "createdAt": "2025-11-24T18:05:24.203Z",
  "updatedAt": "2025-12-06T21:06:42.325Z",
  "id": "PeYY8UfWXjVRr9XJ",
  "name": "[monday] Account Created",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "topic": {
          "__rl": true,
          "value": "arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub",
          "mode": "list",
          "cachedResultName": "dev--acc--account-changed-events--f4ub",
          "cachedResultUrl": "https://us-east-2.console.aws.amazon.com/sns/v3/home?region=us-east-2#/topic/arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub"
        }
      },
      "type": "n8n-nodes-base.awsSnsTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -96
      ],
      "id": "4b222912-103c-4aed-8a38-bc90477c29d6",
      "name": "AWS SNS Trigger",
      "webhookId": "c34d326c-78e5-4b4a-8af1-242be7584a03",
      "credentials": {
        "aws": {
          "id": "6a2LeR1JFdLEeTgc",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($json.Message)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -96
      ],
      "id": "8b391f66-c7c6-4dad-b700-c74c507d95da",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "url": "=http://api.user.iam.sd.internal.us-east-2.bluemsdev.team/v1/users/{{ $json.data.owner }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -96
      ],
      "id": "a2022bd1-5360-4ce5-8dc4-937c02de6453",
      "name": "GET User = givenName + familyName + userLanguage"
    },
    {
      "parameters": {
        "content": "## Cria item no Monday ao criar uma conta na BMS",
        "height": 624,
        "width": 2192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -368
      ],
      "typeVersion": 1,
      "id": "adb78864-2294-4e11-956c-7cbc3738209a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fe30053-ece5-4384-9bd0-57b25edd0ebf",
              "leftValue": "={{ $json.type }}",
              "rightValue": "com.bluems.acc.account-created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3e2090ab-d6a1-4e74-9729-ae564c391512",
              "leftValue": "={{ $json.data.creationMode }}",
              "rightValue": "enrollment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -160,
        -96
      ],
      "id": "379b5087-689b-496c-8ef7-b87cb64c4ad9",
      "name": "If type event is created en creationMode enrollment"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "=9717645780",
        "groupId": "topics",
        "name": "={{ \"Lead Orgânico\" + \" - \" +$('GET User = givenName + familyName + userLanguage').item.json.email}}",
        "additionalFields": {
          "columnValues": "={\n  \"deal_stage\": {\n    \"index\": 7\n  },\n  \"text_mkw93y92\": \"{{ $('GET User = givenName + familyName + userLanguage').item.json.givenName }} {{ $('GET User = givenName + familyName + userLanguage').item.json.familyName }}\",\n  \"text_mkwpqa68\": \"{{ $('GET User = givenName + familyName + userLanguage').item.json.email }}\"\n}"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        736,
        -288
      ],
      "id": "083c192a-5d39-4c5c-817e-3a20f91e9d2b",
      "name": "Create an Item",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "content": "Filtra Tipo de Evento",
        "height": 256,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -192
      ],
      "typeVersion": 1,
      "id": "b1d48628-af54-4550-8684-1855cc109780",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Recebe evento de acc--account-changed e formata para JSON",
        "height": 256,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        -192
      ],
      "typeVersion": 1,
      "id": "4209702e-ae37-4ca6-ad07-c5d43ce9db47",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Busca dados do usuário",
        "height": 256,
        "width": 214,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -192
      ],
      "typeVersion": 1,
      "id": "560362cf-4f9b-4bfd-bf3e-adf6cea9c752",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Busca se existe itens no Monday com o e-mail do cliente.",
        "height": 256,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -192
      ],
      "typeVersion": 1,
      "id": "5d2fbdb4-fd6a-4d34-a515-97fae38fc4fc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=<strong> Uma nova conta acabou de ser criada! 🚀 </strong>\n\nNosso novo usuário se chama: <strong>{{ $('GET User = givenName + familyName + userLanguage').item.json.givenName }} {{ $('GET User = givenName + familyName + userLanguage').item.json.familyName }} </strong>\n\nO e-mail cadastrado foi: <strong>{{ $('GET User = givenName + familyName + userLanguage').item.json.email }}</strong>\nData Cadastro: <strong>{{ $node['GET User = givenName + familyName + userLanguage'].json.createdAt.slice(0, 10).split('-').reverse().join('/') }}</strong>\nAccount ID: <strong>{{ $('Convert to JSON').item.json.data.accountId }}</strong>\nConta Criada Por: <strong>{{ $('Convert to JSON').item.json.data.createdBy }}</strong>\n\nBoas Vendas!🔥"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        960,
        -288
      ],
      "id": "2bdfbf22-070a-4e9b-acd1-a1340627fa2e",
      "name": "Add an update to an item",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mondayComApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query { boards (ids: [9717645780]) { items_page (query_params: { rules: [{ column_id: \\\"text_mkwpqa68\\\", compare_value: [\\\"{{ $json.email }}\\\"] }] }) { items { id column_values(ids: [\\\"deal_stage\\\"]) { text } } } } }\",\n  \"variables\": {}\n}",
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -96
      ],
      "id": "61ecc028-0365-4659-bb84-5cc375d6c681",
      "name": "Busca e-mail Board Monday",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Busca e-mail Board Monday\"].json.data.boards[0].items_page.items[0].column_values[0].text }}",
                    "rightValue": "Perdido",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1ab6de1-1b7d-42c3-b438-cb34700c6a92"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Perdido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c26508d-2fcb-4b14-a1a2-7dc25fde8b22",
                    "leftValue": "={{ $node[\"Busca e-mail Board Monday\"].json.data.boards[0].items_page.items[0].column_values[0].text }}",
                    "rightValue": "Standby",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Standby"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Negociação"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        736,
        -16
      ],
      "id": "149601d9-3412-4bf9-bbd8-198d1a30b72c",
      "name": "Validação - Status do Item"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.data.boards[0].items_page.items[0].id }}",
        "value": "=⚠️ <strong>ALERTA DE CONTA CRIADA</strong> ⚠️\n\nO usuário <strong>{{ $node[\"GET User = givenName + familyName + userLanguage\"].json.givenName }} {{ $node[\"GET User = givenName + familyName + userLanguage\"].json.familyName }}</strong> que já se encontra no status de <strong>{{ $json.data.boards[0].items_page.items[0].column_values[0].text }}</strong> , acabou de criar sua conta na BMS.\n\nO e-mail de cadastro: <strong>{{ $('GET User = givenName + familyName + userLanguage').item.json.email }}</strong>\nData Cadastro: <strong>{{ $node['GET User = givenName + familyName + userLanguage'].json.createdAt.slice(0, 10).split('-').reverse().join('/') }}</strong>\nAccount ID: <strong>{{ $('Convert to JSON').item.json.data.accountId }}</strong>\n\nConta Criada Por: <strong>{{ $('Convert to JSON').item.json.data.createdBy }}</strong>\n\n\nComo este lead já está em <strong>{{ $json.data.boards[0].items_page.items[0].column_values[0].text }}</strong>, preservamos os status atual."
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        960,
        112
      ],
      "id": "33e7cd0c-457b-4fdd-9978-637bdc307776",
      "name": "Update - Em Negociação",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $('Criar Novo ou Atualizar Existente?').item.json.data.boards[0].items_page.items[0].id }}",
        "value": "=🔥 <strong>LEAD REATIVADO AUTOMATICAMENTE</strong> 🔥<br><br>\nO cliente <strong>{{ $node[\"GET User = givenName + familyName + userLanguage\"].json.givenName }} {{ $('GET User = givenName + familyName + userLanguage').item.json.familyName }}</strong> que estava como <strong>\"{{ $node[\"Busca e-mail Board Monday\"].json.data.boards[0].items_page.items[0].column_values[0].text }}\"</strong> voltou e criou sua conta na BMS. 🎉🤑💎\n\nO e-mail de cadastro: <strong>{{ $('GET User = givenName + familyName + userLanguage').item.json.email }}</strong>\nData Cadastro: <strong>{{ $node['GET User = givenName + familyName + userLanguage'].json.createdAt.slice(0, 10).split('-').reverse().join('/') }}</strong>\nAccount ID: <strong>{{ $('Convert to JSON').item.json.data.accountId }}</strong>\n\nO sistema alterou automaticamente para <strong>\"Qualificado\"</strong> e você já pode retomar o atendimento.\n🚀 Boas vendas!"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        960,
        -96
      ],
      "id": "a9cf0bb5-5c4a-433b-9081-d9ba7f9b2583",
      "name": "Update - Perdido/Standby",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeColumnValue",
        "boardId": "18390215665",
        "itemId": "={{ $('Busca e-mail Board Monday').item.json.data.boards[0].items_page.items[0].id }}",
        "columnId": "=deal_stage",
        "value": "={{ JSON.stringify({\"label\": \"Qualificado\"}) }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1184,
        -96
      ],
      "id": "d5ca3f0e-f247-453f-bcdf-c9bbe1a6ae15",
      "name": "Change a column value for a board item",
      "credentials": {
        "mondayComApi": {
          "id": "GkLkE7HtBr2SrfI3",
          "name": "Monday.com account - PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "868c4b15-3744-4e34-8ec5-d4ad32eb1038",
              "leftValue": "={{ $json.data.boards[0].items_page.items }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -96
      ],
      "id": "b6f042cc-c0cc-4b77-9bfb-646690d19977",
      "name": "Criar Novo ou Atualizar Existente?"
    }
  ],
  "connections": {
    "AWS SNS Trigger": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "If type event is created en creationMode enrollment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET User = givenName + familyName + userLanguage": {
      "main": [
        [
          {
            "node": "Busca e-mail Board Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If type event is created en creationMode enrollment": {
      "main": [
        [
          {
            "node": "GET User = givenName + familyName + userLanguage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Item": {
      "main": [
        [
          {
            "node": "Add an update to an item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca e-mail Board Monday": {
      "main": [
        [
          {
            "node": "Criar Novo ou Atualizar Existente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação - Status do Item": {
      "main": [
        [
          {
            "node": "Update - Perdido/Standby",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update - Perdido/Standby",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update - Em Negociação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update - Perdido/Standby": {
      "main": [
        [
          {
            "node": "Change a column value for a board item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo ou Atualizar Existente?": {
      "main": [
        [
          {
            "node": "Create an Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validação - Status do Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:AWS SNS Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "AWS SNS Trigger": [
      {
        "json": {
          "Type": "Notification",
          "MessageId": "b676cc45-276f-5ce2-9ae6-adc901c5b8a1",
          "TopicArn": "arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub",
          "Message": "{\"specversion\":\"1.0\",\"id\":\"35ITae7AJwwuvaVIXJ9nqEqRrYi\",\"source\":\"com.bluems.acc.account\",\"type\":\"com.bluems.acc.account-created\",\"time\":\"2025-11-10T17:44:10.197Z\",\"combluemsaccountid\":\"194515064449\",\"data\":{\"accountId\":\"194515064449\",\"createdBy\":\"goliveira@bluemarketing.com\",\"name\":\"teste\",\"tags\":[],\"createdAt\":\"2025-11-10T17:44:09.949Z\",\"owner\":\"goliveira@bluemarketing.com\",\"creationMode\":\"member-account\",\"brn\":\"brn:bms:acc:global::account:194515064449\"}}",
          "Timestamp": "2025-11-10T17:44:10.219Z",
          "SignatureVersion": "1",
          "Signature": "CAT8Q4VyLPt4rLGwDxsDmqMDN/pI9ztciRiiMgigPzH8xw/fqGp+m7s2ELlCNzDSuwk0LH1lktdpmGsj74oswSunDRo91d1i5MyzKZP2t8wOv74m7ZXCtuoAqIORV3W5r2lGBdXpm+aSQ7XN8R07y7C6CcRKV7GegXKZ+GBMucR8CRmZmMH5XLmSDa+3v0mvRR/L48THXxKz8v4NWc9I3Xx8NWw8ZK2/GnHhWAjUvqla84a0ARpXjhZPJNcGafgJOKoQ1Abw+GHhLskvA7JOYwTBWrZSRTktwymztRc3Dmuv0VQmbAOPBJiNZhS7vBErSBm2zhgELmq49LjSmCXbHg==",
          "SigningCertURL": "https://sns.us-east-2.amazonaws.com/SimpleNotificationService-6209c161c6221fdf56ec1eb5c821d112.pem",
          "UnsubscribeURL": "https://sns.us-east-2.amazonaws.com/?Action=Unsubscribe&SubscriptionArn=arn:aws:sns:us-east-2:359312844241:dev--acc--account-changed-events--f4ub:6e1efdc4-4a0a-462c-acac-ff38faf91e74"
        }
      }
    ],
    "Convert to JSON": [
      {
        "json": {
          "specversion": "1.0",
          "id": "35ITae7AJwwuvaVIXJ9nqEqRrYi",
          "source": "com.bluems.acc.account",
          "type": "com.bluems.acc.account-created",
          "time": "2025-11-10T17:44:10.197Z",
          "combluemsaccountid": "194515064449",
          "data": {
            "accountId": "194515064449",
            "createdBy": "goliveira@bluemarketing.com",
            "name": "teste",
            "tags": [],
            "createdAt": "2025-11-10T17:44:09.949Z",
            "owner": "gakkari@bluemarketing.com",
            "creationMode": "enrollment",
            "brn": "brn:bms:acc:global::account:194515064449"
          }
        }
      }
    ],
    "GET User = givenName + familyName + userLanguage": [
      {
        "json": {
          "event": "customer-account-created",
          "email": "gakkari@bluemarketing.com",
          "givenName": "Giovanna",
          "familyName": "Akkari",
          "createdAt": "2025-11-04T19:51:12.583Z",
          "modifiedAt": "2025-11-04T19:51:12.583Z",
          "lastAccess": "2025-11-07T18:48:35.417Z",
          "enabled": true,
          "awsCognitoUserId": "fd14cca9-fdbd-4c61-85f8-f067593ac291",
          "signedTermsVersion": "signup-terms-and-conditions-20240404.pdf",
          "userLanguage": "pt",
          "brn": "brn:bms:iam:global::user:goliveira@bluemarketing.com"
        }
      }
    ]
  },
  "versionId": "1148d7a0-6dcd-40d6-8a05-bd2bd748d22e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-24T18:05:24.203Z",
      "updatedAt": "2025-11-24T18:05:24.203Z",
      "role": "workflow:owner",
      "workflowId": "PeYY8UfWXjVRr9XJ",
      "projectId": "yFYBfulVbeQlFXcl"
    }
  ],
  "tags": []
}